Тренинг оперативного направления/1Cv8.cf
Тренинг оперативного направления/День2_Тренинг оперативного направления.zip
Тренинг оперативного направления/ДомашнееЗадание/Змейка_Баранов_20140421_v3.epf
Тренинг оперативного направления/ДомашнееЗадание/Змейка_Берездецкий/1Cv8.cf
Тренинг оперативного направления/ДомашнееЗадание/Змейка_Берездецкий/База/1Cv8.1CD
Тренинг оперативного направления/ДомашнееЗадание/Змейка_Берездецкий/Тесты_Змейка.epf
Тренинг оперативного направления/ДомашнееЗадание/Змейка_Козлов/1Cv8_рез.cf
Тренинг оперативного направления/ДомашнееЗадание/Змейка_Козлов/Тесты_Змейка.epf
Тренинг оперативного направления/ДомашнееЗадание/Змейка_Пономаренко/Змейка.epf
Тренинг оперативного направления/ДомашнееЗадание/Змейка_Рашитов.epf
Тренинг оперативного направления/ДомашнееЗадание/Змейка_Смоленский.cf
Тренинг оперативного направления/ДомашнееЗадание/Змейка_Смоленский.epf
Тренинг оперативного направления/ДомашнееЗадание/Змейка_УФ_Рашитов.epf
Тренинг оперативного направления/Змейка_Берездецкий.zip
Тренинг оперативного направления/Змейка_Козлов.zip
Тренинг оперативного направления/Змейка_Пономаренко.rar
Тренинг оперативного направления/ТренингОперативногоНаправления_День1.zip
